@font-face {
  font-family: "Victor Mono";
  src: url("/static/font/VictorMono-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/static/font/VictorMono-Medium.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("/static/font/VictorMono-Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

body {
  font-family: "Victor Mono", monospace;
}

#startButton {
  color: #efefef;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 25px;
  border: 2px solid #efefef;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;
}

#subtitles {
  position: absolute;
  bottom: 200px;
  left: 50%;
  color: #efefef;
  font-size: 20px;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  text-align: center;
}

#credits {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #efefef;
  font-size: 12px;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
}

#loader {
  color: #efefef;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link {
  color: #33aa33;
}

a:visited {
  color: #33aa33;
}
